.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #3362be;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #09d3ac;
}

* {
  text-align: center;
}

video {
  width: 100vw;
  height: auto;
}

nav {
  background-color: rgb(11, 12, 12);
  padding: 1rem 0;
  width: 100%;
  position: fixed;
  color: white;
  top: 0;
  left: 0;
}

button {
  padding: 10px;
  border-radius: 30px;
  margin: 0 10px;
}
button:hover {
  background-color: rgb(231, 220, 158);
  cursor: pointer;
}

.App-Background {
  max-width: 50%;
  height: auto;
}

.App-Image {
  width: 50px;
  height: auto;
}

img {
  width: 50%;
  height: auto;
  border: 2px solid rgb(165, 118, 187);
}

section {
  border: 10px solid rgb(7, 7, 7);
  border-radius: 30px;
  width: 95%;
  min-height: 400px;
  margin: 30px;
  float: center;
}

.body {
  text-align: center;
}
